* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transform-style: preserve-3d;

}

:root {
    --deptNeg: -500px;
    --dept: 500px;
}

body {
    position: relative;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    font-family: "nickel-gothic-variable", sans-serif;
    font-variation-settings: "slnt"0, "wdth"25;
    font-size: 5rem;
    overflow: hidden;
    transform-style: preserve-3d;

    /* transform: translate3d(0,0,-100dvh); */
    /* perspective: 100px; */

}

/* body * {
    border: 1px solid red;
} */

.main-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.cube-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: calc(var(--dept) * 2);
    transform-style: preserve-3d;
    /* pointer-events: none; */
}

.panel {
    display: block;
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    /* border: 1px rgb(0, 0, 0) solid; */
    overflow: hidden;
    pointer-events: all;
    /* transform-style: preserve-3d; */

}

.panel.back {
    transform: translate3d(0, 0, var(--deptNeg));
}

.top-bottom-panels {
    height: var(--dept);
}

.panel.top {
    top: 0px;
    transform-origin: top;
    transform: rotate3d(1, 0, 0, -90deg);
}

.panel.bottom {
    bottom: 0px;
    transform-origin: bottom;
    transform: rotate3d(1, 0, 0, 90deg);
    overflow: visible;
    /* z-index: 100; */
}

/* .panel.bottom:hover {
    background-color: yellow;
} */

.panel.side-panels {
    width: var(--dept);
}

.panel.left {
    left: 0px;
    transform-origin: left;
    transform: rotate3d(0, 1, 0, 90deg);
}

.panel.right {
    right: 0px;
    transform-origin: right;
    transform: rotate3d(0, 1, 0, -90deg);
}

.panel-bottom__bg {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr 40%;
    position: relative;
    width: 100%;
    height: 80%;
    gap: 10px;
    /* overflow: visible; */
}

.panel-bottom__top {
    /* color: #eee; */
    position: relative;
    /* grid-area: top; */
    grid-row: 1/2;
    display: block;
    height: 100%;
    /* background-color: rgb(186, 181, 22); */
}

.panel-bottom__btn-container {
    display: flex;
    margin: 0 5% 0 5%;
    justify-content: space-between;
    position: relative;
    grid-row: 2;
}

.btn {
    position: relative;
    display: inline-block;
    font-family: trade-gothic-next-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: black;
    left: -150%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background-color: white;
    box-shadow: 0px 5px 0px 2px black;
    transition: all .3s ease;
    pointer-events: auto;
    z-index: 5000;
    border-radius: 50%;
}

.btn:first-of-type {
    box-shadow: 2px 5px 0px 2px black;
}
.btn:last-of-type {
    box-shadow: -2px 5px 0px 2px black;
}

.slide-in-from-left {
    left: -150%;
    animation: btnSlideinFromLeft 1s ease forwards;
}

@keyframes btnSlideinFromLeft {
    to {
        left: 0px;
    }
}

.btn:hover {
    transform: translateZ(10px);
    box-shadow: 0px 30px 0px 0px black;
    cursor: pointer;
}

.btn:first-of-type:hover {
    box-shadow: 5px 30px 0px 0px black;
}
.btn:last-of-type:hover {
    box-shadow: -5px 30px 0px 0px black;
}

.btn:hover:active {
    background-color: teal;
    transform: translateY(0dvw) scale(95%);
    box-shadow: 0px 5px 0px 0px black;
    transition-duration: .1s;
}

.btn span {

    transition: rotate .5s;
}

.btn > span:active {
    /* color: yellow; */
    rotate: 180deg;
}



.panel-container-grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    z-index: -100;
    /* background-color: blueviolet; */

}

.panel-container-grid>.container-grid-content-area {
    display: grid;
    background-color: orange;
    width: 100%;

    /* grid-area: 1 / 2 / 11 / 4; */
    overflow: hidden;
}

.transition-added {
    transition-timing-function: linear;
}

.plain-panel.transition-right {
    transition-property: right;
}

.plain-panel.transition-left {
    transition-property: left;
    /* transition-timing-function: ease-out; */
}

.plain-panel.transition-top {
    transition-property: top;
}

.plain-panel.transition-bottom {
    transition-property: bottom;
}

.panel-span {
    display: inline-block;
    text-wrap: balance;
    /* display: block; */
    font-size: 1rem;
    /* place-self: center center; */
    font-variation-settings: "slnt"0, "wdth"50;
    /* background-color: cadetblue; */
    transform-style: preserve-3d;

}

.basic-bg-panel {
    position: absolute;
    /* left: 0;
    top: 0; */
    width: 100%;
    height: 100%;
    z-index: -500;
    /* background-color: aqua; */
}

.three-panel {
    position: absolute;
    display: flex;
    /* background-color: #ffffff; */
    justify-content: center;
    /* align-items: center; */
    /* font-size: 800px; */
    /* left: 50px; */
    height: 100%;
    /* transform: scaleX(100); */
    /* background: linear-gradient(
    to right,
    red 20%,               
    orange 20% 40%,        
    yellow 40% 60%,        
    green 60% 80%,         
    blue 80%  
    ); */

    /* background-color: purple; */
}

.three-panel.three-panel--transition {
    /* transition-property: left; */
    transition-timing-function: linear;
}

/* .three-panel.fade-out {
    background-color: aqua;
} */

.three-panel__text {
    position: relative;
    top: 10%;
    text-wrap: nowrap;
    /* background-color: turquoise; */
    height: 80%;
    /* justify-self: center; */
}